.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10rem;
  margin: 10rem auto;

  @media only screen and (max-width: 50em) {
    flex-wrap: wrap;
  }

  &__mobile {
    width: 30rem;
  }
}

.homepage__values {
  display: grid;
  row-gap: 4rem;
  column-gap: 4rem;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
}
