*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%; // 10px

  @media only screen and (max-width: 75em) {
    font-size: 56.25%; // 9px for < 1200
  }

  @media only screen and (max-width: 56.25em) {
    font-size: 50%; // 8px for < 900
  }
}

body {
  box-sizing: border-box;
  background-color: $color-white;
}

::selection {
  color: $color-white;
  background-color: $color-primary;
}
