body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 2rem;
  color: $color-black;
  line-height: 1.5;
}

h2 {
  font-size: 5rem;
}

input,
button {
  font-size: inherit;
  font-weight: inherit;
}
