.ml-s {
  margin-left: 1rem !important;
}

.mr-s {
  margin-right: 1rem !important;
}

.mt-s {
  margin-top: 1rem !important;
}

.mb-s {
  margin-bottom: 1rem !important;
}

.ml-m {
  margin-left: 2rem !important;
}

.mr-m {
  margin-right: 2rem !important;
}

.mt-m {
  margin-top: 2rem !important;
}

.mb-m {
  margin-bottom: 2rem !important;
}

.bold {
  font-weight: bold;
}

.primary {
  color: $color-primary;
}
