.card {
  padding: 3rem;
  text-align: center;
  background-color: lighten($color-primary, 35%);
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;

  &__icon {
    height: 4rem;
  }

  &__title {
    color: $color-primary;
    font-weight: 700;
    font-size: 2.8rem;
  }

  &__description {
    font-size: 1.4rem;
  }
}
