nav {
  position: fixed;
  top: 0;
  right: 0;
  height: 10rem;
  width: 100%;
  z-index: 1;
  display: flex;
  transition: all 0.5s;

  &.fixed {
    background-color: rgba($color-black, 0.9);
    color: $color-white;
    height: 5rem;
  }
}

.nav {
  display: flex;
  width: 100%;
  max-width: 124rem;
  margin: 0 auto;
  padding: 0 2rem;
  align-items: center;

  @media only screen and (max-width: 43.75em) {
    background-color: rgba($color-black, 0.9);
    padding: 0 5rem;
    color: $color-white;
  }

  &__name {
    margin-right: auto;
    font-size: 3rem;
  }

  &__list {
    list-style: none;
    gap: 2rem;
    display: flex;

    @media only screen and (max-width: 43.75em) {
      position: absolute;
      top: 100%;
      right: 0rem;
      width: 100%;
      flex-direction: column;
      text-align: center;
      background-color: rgba($color-black, 0.9);
      height: 35rem;
      transform: scaleY(0);
      transition: transform 0.5s;
      transform-origin: top;
    }
  }

  &__link {
    display: block;
    color: inherit;
    text-decoration: none;
    transition: all 0.2s;

    @media only screen and (max-width: 43.75em) {
      padding: 2rem;
    }

    &.active,
    &--active {
      color: $color-primary;
    }

    &:hover {
      color: $color-primary;
      transform: scale(1.2) skewY(-7deg);
    }
  }

  &__toggle {
    position: relative;
    transition: opacity 0.5s;
    display: none;

    @media only screen and (max-width: 43.75em) {
      display: block;
    }

    &,
    &::before,
    &::after {
      height: 2px;
      width: 2.5rem;
      background-color: $color-white;
      transition: all 0.5s;
    }

    &::before,
    &::after {
      content: '';
      display: block;
      position: absolute;
    }

    &::before {
      top: -1rem;
    }

    &::after {
      top: 1rem;
    }
  }

  &__checkbox {
    position: relative;
    left: 2.5rem;
    width: 2.5rem;
    height: 2.5rem;
    cursor: pointer;
    z-index: 1;
    opacity: 0;
    display: none;

    @media only screen and (max-width: 43.75em) {
      display: block;
    }
  }

  &__checkbox:checked ~ &__list {
    transform: scaleY(1);
  }

  &__checkbox:checked ~ &__toggle {
    background-color: transparent;

    &::before {
      top: 0;
      transform: rotate(135deg);
    }

    &::after {
      top: 0;
      transform: rotate(-135deg);
    }
  }
}
