*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }

body {
  box-sizing: border-box;
  background-color: #fff; }

::selection {
  color: #fff;
  background-color: #fbaf03; }

body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 2rem;
  color: #000;
  line-height: 1.5; }

h2 {
  font-size: 5rem; }

.ml-s {
  margin-left: 1rem !important; }

.mr-s {
  margin-right: 1rem !important; }

.mt-s {
  margin-top: 1rem !important; }

.mb-s {
  margin-bottom: 1rem !important; }

.ml-m {
  margin-left: 2rem !important; }

.mr-m {
  margin-right: 2rem !important; }

.mt-m {
  margin-top: 2rem !important; }

.mb-m {
  margin-bottom: 2rem !important; }

.bold {
  font-weight: bold; }

.primary {
  color: #fbaf03; }

.center {
  text-align: center; }

@keyframes blink {
  0% {
    visibility: visible; }
  49% {
    visibility: hidden; }
  99% {
    visibility: hidden; }
  100% {
    visibility: visible; } }

section {
  max-width: 120rem;
  margin: auto;
  padding-left: 5rem;
  padding-right: 5rem; }

main {
  margin: 10rem 0; }

.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10rem;
  margin: 10rem auto; }
  @media only screen and (max-width: 50em) {
    .hero {
      flex-wrap: wrap; } }
  .hero__mobile {
    width: 30rem; }

.homepage__values {
  display: grid;
  row-gap: 4rem;
  column-gap: 4rem;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr)); }

.typer__cursor {
  animation: blink 1s infinite; }

.card {
  padding: 3rem;
  text-align: center;
  background-color: #fee7b2;
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center; }
  .card__icon {
    height: 4rem; }
  .card__title {
    color: #fbaf03;
    font-weight: 700;
    font-size: 2.8rem; }
  .card__description {
    font-size: 1.4rem; }

nav {
  position: fixed;
  top: 0;
  right: 0;
  height: 10rem;
  width: 100%;
  z-index: 1;
  display: flex;
  transition: all 0.5s; }
  nav.fixed {
    background-color: rgba(0, 0, 0, 0.9);
    color: #fff;
    height: 5rem; }

.nav {
  display: flex;
  width: 100%;
  max-width: 124rem;
  margin: 0 auto;
  padding: 0 2rem;
  align-items: center; }
  @media only screen and (max-width: 43.75em) {
    .nav {
      background-color: rgba(0, 0, 0, 0.9);
      padding: 0 5rem;
      color: #fff; } }
  .nav__name {
    margin-right: auto;
    font-size: 3rem; }
  .nav__list {
    list-style: none;
    gap: 2rem;
    display: flex; }
    @media only screen and (max-width: 43.75em) {
      .nav__list {
        position: absolute;
        top: 100%;
        right: 0rem;
        width: 100%;
        flex-direction: column;
        text-align: center;
        background-color: rgba(0, 0, 0, 0.9);
        height: 35rem;
        transform: scaleY(0);
        transition: transform 0.5s;
        transform-origin: top; } }
  .nav__link {
    display: block;
    color: inherit;
    text-decoration: none;
    transition: all 0.2s; }
    @media only screen and (max-width: 43.75em) {
      .nav__link {
        padding: 2rem; } }
    .nav__link.active, .nav__link--active {
      color: #fbaf03; }
    .nav__link:hover {
      color: #fbaf03;
      transform: scale(1.2) skewY(-7deg); }
  .nav__toggle {
    position: relative;
    transition: opacity 0.5s;
    display: none; }
    @media only screen and (max-width: 43.75em) {
      .nav__toggle {
        display: block; } }
    .nav__toggle, .nav__toggle::before, .nav__toggle::after {
      height: 2px;
      width: 2.5rem;
      background-color: #fff;
      transition: all 0.5s; }
    .nav__toggle::before, .nav__toggle::after {
      content: '';
      display: block;
      position: absolute; }
    .nav__toggle::before {
      top: -1rem; }
    .nav__toggle::after {
      top: 1rem; }
  .nav__checkbox {
    position: relative;
    left: 2.5rem;
    width: 2.5rem;
    height: 2.5rem;
    cursor: pointer;
    z-index: 1;
    opacity: 0;
    display: none; }
    @media only screen and (max-width: 43.75em) {
      .nav__checkbox {
        display: block; } }
  .nav__checkbox:checked ~ .nav__list {
    transform: scaleY(1); }
  .nav__checkbox:checked ~ .nav__toggle {
    background-color: transparent; }
    .nav__checkbox:checked ~ .nav__toggle::before {
      top: 0;
      transform: rotate(135deg); }
    .nav__checkbox:checked ~ .nav__toggle::after {
      top: 0;
      transform: rotate(-135deg); }
