*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }

body {
  box-sizing: border-box;
  background-color: #fff; }

::selection {
  color: #fff;
  background-color: #fbaf03; }

body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 2rem;
  color: #000;
  line-height: 1.5; }

h2 {
  font-size: 5rem; }

.ml-s {
  margin-left: 1rem !important; }

.mr-s {
  margin-right: 1rem !important; }

.mt-s {
  margin-top: 1rem !important; }

.mb-s {
  margin-bottom: 1rem !important; }

.ml-m {
  margin-left: 2rem !important; }

.mr-m {
  margin-right: 2rem !important; }

.mt-m {
  margin-top: 2rem !important; }

.mb-m {
  margin-bottom: 2rem !important; }

.bold {
  font-weight: bold; }

.primary {
  color: #fbaf03; }

@keyframes blink {
  0% {
    visibility: visible; }
  49% {
    visibility: hidden; }
  99% {
    visibility: hidden; }
  100% {
    visibility: visible; } }

section {
  max-width: 120rem;
  margin: auto;
  padding-left: 5rem;
  padding-right: 5rem; }

.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10rem;
  margin: 10rem auto; }
  @media only screen and (max-width: 50em) {
    .hero {
      flex-wrap: wrap; } }
  .hero__mobile {
    width: 30rem; }

.typer__cursor {
  animation: blink 1s infinite; }
